@page
@model LoginModel
<link rel="stylesheet" href="~/css/Style.css" type="text/css" media="all" />
<link rel="stylesheet" href="~/css/StyleLogin.css" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

@{
    ViewData["Title"] = "Log in";
}
<body style="position:relative;font-family: 'Source Sans Pro', sans-serif;">

    <div class="signinform">
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3l_form">
                    <div class="left_grid_info">
                        <img src="~/images/Security On-amico.png" alt="" />
                    </div>
                </div>
                <div class="w3_info">
                    <h2>@ViewData["Title"]</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form id="account" method="post">
                        <div class="input-group">
                            <span><i class="fas fa-user" aria-hidden="true"></i></span>
                            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email or Username">
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <div class="input-group">
                            <span><i class="fas fa-key" aria-hidden="true"></i></span>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password">
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="form-row bottom">
                            
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            
                            <a asp-page="./ForgotPassword" class="forgot">Forgot password?</a>
                        </div>
                        <button id="login-submit" class="btn btn-primary btn-block" type="submit">Sign In</button>
                    </form>
                    <p class="continue"><span>or Sign in with</span></p>
                    <div class="social-login">
                        <a href="#facebook">
                            <div class="facebook">
                                <span class="fab fa-facebook" aria-hidden="true"></span> Facebook

                            </div>
                        </a>
                        <a href="#google">
                            <div class="google">
                                <span class="fab fa-google-plus-g" aria-hidden="true"></span> Google
                            </div>
                        </a>
                    </div>
                    <p class="account">Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a></p>
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
</body>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
