@page
@using Pog.Models
@model RegisterModel
<link rel="stylesheet" href="~/css/Style.css" type="text/css" media="all" />
<link rel="stylesheet" href="~/css/StyleLogin.css" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

@{
    ViewData["Title"] = "Register";
}


<div class="signinform">
    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3l_form">
                <div class="left_grid_info">
                    <img src="~/images/Sign-up-rafiki.png" alt="" />
                </div>
            </div>
            <div class="w3_info">
                <h2>@ViewData["Title"]</h2>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                    <div class="input-group">
                        <span><i class="fas fa-user-tag" aria-hidden="true"></i></span>
                        <input asp-for="Input.FirstName" autocomplete="firstname" aria-required="true" placeholder="First name">
                    </div>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                    <div class="input-group">
                        <span><i class="fas fa-user-tag" aria-hidden="true"></i></span>
                        <input asp-for="Input.LastName" autocomplete="lastname" aria-required="true" placeholder="Last name">
                    </div>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>


                    <div class="input-group">
                        <span><i class="fas fa-birthday-cake" aria-hidden="true"></i>&emsp;&emsp;<label style="color:darkgray; font-size:17px; font-weight:500; font-family:inherit" asp-for="Input.Birthday"></label></span>
                        &emsp;
                        <div>
                            <input style="color:darkgray" asp-for="Input.Birthday" autocomplete="birthday" aria-required="true">
                        </div>
                    </div>
                    <span asp-validation-for="Input.Birthday" class="text-danger"></span>

                    <div class="input-group">
                        <span><i class="fas fa-venus-mars" aria-hidden="true"></i>&emsp;&emsp;<label style="color:darkgray; font-size:17px; font-weight:500; font-family:inherit" asp-for="Input.Gender" autocomplete="gender" aria-required="true"></label></span>
                        &emsp;
                        <select asp-for="Input.Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                    </div>


                     <div class="input-group">
                        <span><i class="fas fa-id-card" aria-hidden="true"></i>&emsp;&emsp;<label style="color:darkgray; font-size:17px; font-weight:500; font-family:inherit" asp-for="Input.DepartmentId"  autocomplete="department" aria-required="true"></label></span>
                        &emsp;
                        <select asp-for="Input.DepartmentId" asp-items="@ViewBag.Departments" class="form-control"></select>
                    </div>
                    <span asp-validation-for="Input.DepartmentId" class="text-danger"></span>

                    <div class="input-group">
                        <span><i class="fas fa-city" aria-hidden="true"></i></span>
                        <input asp-for="Input.Address" autocomplete="address" aria-required="true" placeholder="Address">
                    </div>
                    <span asp-validation-for="Input.Address" class="text-danger"></span>


                    <div class="input-group">
                        <span><i class="fas fa-envelope" aria-hidden="true"></i></span>
                        <input asp-for="Input.Email"  autocomplete="username" aria-required="true" placeholder="Email">
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <div class="input-group">
                        <span><i class="fas fa-key" aria-hidden="true"></i></span>
                        <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Password">
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <div class="input-group">
                        <span><i class="fas fa-unlock" aria-hidden="true"></i></span>
                        <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Confirm password">
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                    <button id="registerSubmit" class="btn btn-primary btn-block" type="submit">Register</button>
                </form>

                <p class="account">Have an account? <a asp-area="Identity" asp-page="/Account/Login">Sign in</a></p>
            </div>
        </div>
        <!-- //main content -->
    </div>
    <!-- //container -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
