@model Pog.Models.Category

<link rel="stylesheet" href="~/css/Style.css" type="text/css" media="all" />
<link rel="stylesheet" href="~/css/StyleLogin.css" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

@{
    ViewData["Title"] = "Edit";
}

<div class="signinform">
    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3l_form">
                <div class="left_grid_info">
                    <img src="~/images/Category-room-bro.png" alt="" />
                </div>
            </div>
            <div class="w3_info">
                <h2>Edit Category</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
                <form asp-action="Edit">

                    <div class="input-group">
                        <span><i class="fas fa-user-edit" aria-hidden="true"></i></span>&emsp;&emsp;
                        <input asp-for="Name" class="form-control" placeholder="Category Name" />
                    </div>
                   <span asp-validation-for="Name" class="text-danger"></span>

                    <button id="login-submit" class="btn btn-primary btn-block" type="submit">Save</button>
                </form>
                <p class="account"><a asp-action="Index" asp-route-id="@Model?.Id">Back to List</a></p>
            </div>
        </div>
        <!-- //main content -->
    </div>
    <!-- //container -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
