@model Pog.Models.Department

<link rel="stylesheet" href="~/css/Style.css" type="text/css" media="all" />
<link rel="stylesheet" href="~/css/StyleLogin.css" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

@{
    ViewData["Title"] = "Details";
}

<div class="signinform">
    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3l_form">
                <div class="left_grid_info">
                    <img src="~/images/Department-world-amico.png" alt="" />
                </div>
            </div>
            <div class="w3_info">
                <h2>Info Department</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
                <form asp-action="Edit">

                    <div class="input-group">
                        <span><i class="fas fa-user-edit" aria-hidden="true"></i></span>&emsp;&emsp;
                        <label class="control-label">@Html.DisplayNameFor(model => model.DepartmentName): @Html.DisplayFor(model => model.DepartmentName)</label>
                        
                    </div>
                   
                </form>
                <p class="account">
                    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                    <a asp-action="Index" asp-route-id="@Model?.Id">Back to List</a>
                    
                    </p>
            </div>
        </div>
        <!-- //main content -->
    </div>
    <!-- //container -->
</div>
