@model IEnumerable<Pog.Models.Topic>
@{
	ViewBag.Title = "DashBoard";
}

@using Microsoft.AspNetCore.Identity

@if (Context.User.Identity.IsAuthenticated)
{
	<html lang="en">

	<head>
		<title>Charts</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<script src="~/Scripts/Chart.min.js"></script>
	</head>
	<body>
		<div class="pcoded-main-container">
			<div class="pcoded-wrapper">
				<div class="pcoded-content">
					<div class="pcoded-inner-content">
						<!-- [ breadcrumb ] end -->
					<div class="main-body">
							<div class="page-wrapper">
								<!-- [ Main Content ] start -->
							<div class="col-xl-6">
									<div class="card">
										<div class="card-header">
											<h5>All Topics in Category Chart</h5>
											<span class="d-block m-t-5">Show <em><code>all ideas in Category</code></em> available on Web</span>
										</div>
										<div class="card-block">
											<div>
												<canvas id="pie_Chart"></canvas>
											</div>
											<script src="~/Scripts/Chart.min.js"></script>
											<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
											<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

											<script>
												@* X *@
												var datas = @Html.Raw(Json.Serialize(ViewBag.CATEGORYTYPE));
												@* Y *@
												var dataArray = @Html.Raw(Json.Serialize(ViewBag.ANALYSISDATA));
												var canvas = document.getElementById('pie_Chart');
												var pieChart = new Chart(canvas, {
												  type: 'pie',
												  data: {
													labels: datas,
													datasets: [{
													  data: dataArray,
														backgroundColor: [
															'#F8A2BA',
															'#0FD6C6',
															'#95D47A',
															'#F0B38B',
															'#87C0BC',
															'#F1FB6E',
															'#C3F3C2',
															'#666A8D',
															'#C1AD45',
															'#15D3F3',
															'#AA9193'
														],
														borderColor: [
															'#F8A2BA',
															'#0FD6C6',
															'#95D47A',
															'#F0B38B',
															'#87C0BC',
															'#F1FB6E',
															'#C3F3C2',
															'#666A8D',
															'#C1AD45',
															'#15D3F3',
															'#AA9193'
														],
														borderWidth: 1
													}]
												  },
													options: {
														responive: true,
														maintaninAspecRatio: true,
															labels: {
																render: 'percentage',
																precision: 2
															},
															legend: { display: true }
													},
												});
											</script>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ Main Content ] end -->
		<!-- Required Js -->
	<script src="~/assets/js/vendor-all.min.js"></script>
		<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="~/assets/js/pcoded.min.js"></script>

	</body>
	</html>
}
