@model Pog.Models.Topic
<link rel="stylesheet" href="~/css/Style.css" type="text/css" media="all" />
<link rel="stylesheet" href="~/css/StyleLogin.css" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

@{
    ViewData["Title"] = "Edit";
}

<div class="signinform">
    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3l_form">
                <div class="left_grid_info">
                    <img src="~/images/Telecommuting-bro.png" alt="" />
                </div>
            </div>
            <div class="w3_info">
                <h2>Edit Topic</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <form asp-action="Edit">
                    <div class="input-group">
                        <span><i class="fas fa-user-edit" aria-hidden="true"></i></span>&emsp;&emsp;
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name" />
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>

                    <div class="input-group">
                        <span><i class="fas fa-edit" aria-hidden="true"></i></span>&emsp;&emsp;
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description"></textarea>
                    </div>
                    <span asp-validation-for="Description" class="text-danger"></span>

                    <div class="input-group">
                        <span><i class="fas fa-user-secret" aria-hidden="true"></i></span>&emsp;&emsp;
                        <label asp-for="IsAnonymous" class="control-label">Anonymous Post </label>&emsp;
                        <input name="IsAnonymous" id="toggle" class="toggle-control" type="checkbox" value="true"
                               data-val-required="The IsEnabled field is required." data-val="true"
                               data-bind="checked: IsEnabled" />
                        <label for="toggle"></label>
                    </div>
                    <input asp-for="User" type="hidden" />


                    <div class="input-group">
                        <span><i class="fas fa-list-alt" aria-hidden="true"></i></span>&emsp;&emsp;
                        <label asp-for="CategoryId" class="control-label"></label>&emsp;
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    </div>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>

                    <div class="input-group">
                        <span><i class="fas fa-list-alt" aria-hidden="true"></i></span>&emsp;&emsp;
                        <label asp-for="TopicDueDateId" class="control-label"></label>&emsp;
                        <select asp-for="TopicDueDateId" class="form-control" asp-items="ViewBag.TopicDueDateId"></select>
                    </div>
                    <div class="input-group">
                        @{
                            await Html.RenderPartialAsync("_TOC");
                        }
                    </div>
                    <span asp-validation-for="TermAndCondition" class="text-danger"></span>
                    <button id="login-submit" class="btn btn-primary btn-block" type="submit">Save</button>
                </form>
                <p class="account"><a asp-action="Index">Back to List</a></p>
            </div>
        </div>
    </div>
</div>
        @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
        }
